In [1]:
import pandas as pd
import os

In [2]:
pwd = os.getcwd()

In [3]:
dataset = pd.read_excel(pwd + "/VBA 14_08_2023_ StockSoldReport.xls")
dataset

,Stock No,Location,Deal No,Rego,Unnamed: 4,Description,Unnamed: 6,Sale Date,Days in Stock,Unnamed: 9,...,Total Selling Price inc Extras and GST,Unnamed: 13,Net Over Allowance,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,"Total Cost Inc Expenses, Warranty Allowance and GST",Net GST liablity,Profit
0,10364.0,Yard,20843.0,R68122,NaN,COMPASS 18'6 2005,NaN,2023-05-05,506.0,NaN,...,29825.00,NaN,0.0,NaN,NaN,NaN,NaN,25978.45,430.72,3415.83
1,10453.0,Yard,20877.0,TL20WP,NaN,HIGHCLERE CARAVANS H220-2F MD 2022,NaN,2023-07-14,517.0,NaN,...,76911.00,NaN,0.0,NaN,NaN,NaN,NaN,72950.45,875.37,3085.18
2,10457.0,Yard,20568.0,TL28KG,NaN,ATLANTIC ENDEAVOUR 2022,NaN,2023-02-06,353.0,NaN,...,71503.00,NaN,0.0,NaN,NaN,NaN,NaN,57943.85,1398.73,12160.42
3,10476.0,Yard,20477.0,TL08PS,NaN,RIVER DOMINATOR 19'6 REAR DOOR 2023,NaN,2023-03-29,4.0,NaN,...,95525.00,NaN,0.0,NaN,NaN,NaN,NaN,86673.56,1116.62,7734.82
4,10511.0,Yard,20503.0,TL40PS,NaN,RIVER DOMINATOR 18'4 RD 2022,NaN,2023-06-08,6.0,NaN,...,85208.00,NaN,0.0,NaN,NaN,NaN,NaN,78273.21,714.42,6220.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,10782.0,caravancampingsales.com.au,20772.0,TD74ZQ,NaN,ATLANTIC ENDEAVOUR 2017,NaN,2023-01-23,41.0,NaN,...,58900.00,NaN,0.0,NaN,NaN,NaN,NaN,53067.05,627.28,5205.67
154,10789.0,caravancampingsales.com.au,20778.0,TR49LQ,NaN,JAYCO STARCRAFT 2017,NaN,2023-02-06,47.0,NaN,...,42844.68,NaN,0.0,NaN,NaN,NaN,NaN,30716.80,1167.70,10960.18
155,10795.0,caravancampingsales.com.au,20789.0,TR12SL,NaN,JAYCO JOURNEY JOURNEY 2018,NaN,2023-05-15,110.0,NaN,...,47900.00,NaN,-3000.0,NaN,NaN,NaN,NaN,40679.90,716.69,9503.41
156,10842.0,caravancampingsales.com.au,20852.0,TR76SM,NaN,EZYTRAIL CAMPERS PARKES 15 2019,NaN,2023-06-19,63.0,NaN,...,45616.00,NaN,0.0,NaN,NaN,NaN,NaN,41396.70,509.94,3709.36
157,NaN,TOTAL,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import numpy as np

In [5]:
dataset.nunique()

Stock No                                               133
Location                                                26
Deal No                                                133
Rego                                                   127
Unnamed: 4                                               0
Description                                            112
Unnamed: 6                                               0
Sale Date                                               84
Days in Stock                                           78
Unnamed: 9                                               0
Sold to                                                132
Unnamed: 11                                              0
Total Selling Price inc Extras and GST                 129
Unnamed: 13                                              0
Net Over Allowance                                       8
Unnamed: 15                                              0
Unnamed: 16                                              0
Unnamed: 17                                              0
Unnamed: 18                                              0
Total Cost Inc Expenses, Warranty Allowance and GST    133
Net GST liablity                                       133
Profit                                                 133
dtype: int64

In [7]:
columns_to_drop = dataset.nunique()[dataset.nunique()==0].index
columns_to_drop

Index(['Unnamed: 4', 'Unnamed: 6', 'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 13',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

In [9]:
data_dropped_cols = dataset.copy()
data_dropped_cols = data_dropped_cols.drop(columns=columns_to_drop)
data_dropped_cols

,Stock No,Location,Deal No,Rego,Description,Sale Date,Days in Stock,Sold to,Total Selling Price inc Extras and GST,Net Over Allowance,"Total Cost Inc Expenses, Warranty Allowance and GST",Net GST liablity,Profit
0,10364.0,Yard,20843.0,R68122,COMPASS 18'6 2005,2023-05-05,506.0,KEITH RIGBY,29825.00,0.0,25978.45,430.72,3415.83
1,10453.0,Yard,20877.0,TL20WP,HIGHCLERE CARAVANS H220-2F MD 2022,2023-07-14,517.0,Sammut Excavations Pty Ltd,76911.00,0.0,72950.45,875.37,3085.18
2,10457.0,Yard,20568.0,TL28KG,ATLANTIC ENDEAVOUR 2022,2023-02-06,353.0,Ross & Lynn Andrewartha,71503.00,0.0,57943.85,1398.73,12160.42
3,10476.0,Yard,20477.0,TL08PS,RIVER DOMINATOR 19'6 REAR DOOR 2023,2023-03-29,4.0,TODD MARTIN,95525.00,0.0,86673.56,1116.62,7734.82
4,10511.0,Yard,20503.0,TL40PS,RIVER DOMINATOR 18'4 RD 2022,2023-06-08,6.0,ALAN HAYMAN,85208.00,0.0,78273.21,714.42,6220.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,10782.0,caravancampingsales.com.au,20772.0,TD74ZQ,ATLANTIC ENDEAVOUR 2017,2023-01-23,41.0,IAN HUBNER,58900.00,0.0,53067.05,627.28,5205.67
154,10789.0,caravancampingsales.com.au,20778.0,TR49LQ,JAYCO STARCRAFT 2017,2023-02-06,47.0,RUI SOUSA,42844.68,0.0,30716.80,1167.70,10960.18
155,10795.0,caravancampingsales.com.au,20789.0,TR12SL,JAYCO JOURNEY JOURNEY 2018,2023-05-15,110.0,Frank Baulch,47900.00,-3000.0,40679.90,716.69,9503.41
156,10842.0,caravancampingsales.com.au,20852.0,TR76SM,EZYTRAIL CAMPERS PARKES 15 2019,2023-06-19,63.0,KISHA & WAYNE ARMSTRONG,45616.00,0.0,41396.70,509.94,3709.36
157,NaN,TOTAL,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data_dropped_cols = data_dropped_cols.dropna(axis=1, how='all')
data_dropped_cols

,Stock No,Location,Deal No,Rego,Description,Sale Date,Days in Stock,Sold to,Total Selling Price inc Extras and GST,Net Over Allowance,"Total Cost Inc Expenses, Warranty Allowance and GST",Net GST liablity,Profit
0,10364.0,Yard,20843.0,R68122,COMPASS 18'6 2005,2023-05-05,506.0,KEITH RIGBY,29825.00,0.0,25978.45,430.72,3415.83
1,10453.0,Yard,20877.0,TL20WP,HIGHCLERE CARAVANS H220-2F MD 2022,2023-07-14,517.0,Sammut Excavations Pty Ltd,76911.00,0.0,72950.45,875.37,3085.18
2,10457.0,Yard,20568.0,TL28KG,ATLANTIC ENDEAVOUR 2022,2023-02-06,353.0,Ross & Lynn Andrewartha,71503.00,0.0,57943.85,1398.73,12160.42
3,10476.0,Yard,20477.0,TL08PS,RIVER DOMINATOR 19'6 REAR DOOR 2023,2023-03-29,4.0,TODD MARTIN,95525.00,0.0,86673.56,1116.62,7734.82
4,10511.0,Yard,20503.0,TL40PS,RIVER DOMINATOR 18'4 RD 2022,2023-06-08,6.0,ALAN HAYMAN,85208.00,0.0,78273.21,714.42,6220.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,10782.0,caravancampingsales.com.au,20772.0,TD74ZQ,ATLANTIC ENDEAVOUR 2017,2023-01-23,41.0,IAN HUBNER,58900.00,0.0,53067.05,627.28,5205.67
154,10789.0,caravancampingsales.com.au,20778.0,TR49LQ,JAYCO STARCRAFT 2017,2023-02-06,47.0,RUI SOUSA,42844.68,0.0,30716.80,1167.70,10960.18
155,10795.0,caravancampingsales.com.au,20789.0,TR12SL,JAYCO JOURNEY JOURNEY 2018,2023-05-15,110.0,Frank Baulch,47900.00,-3000.0,40679.90,716.69,9503.41
156,10842.0,caravancampingsales.com.au,20852.0,TR76SM,EZYTRAIL CAMPERS PARKES 15 2019,2023-06-19,63.0,KISHA & WAYNE ARMSTRONG,45616.00,0.0,41396.70,509.94,3709.36
157,NaN,TOTAL,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
total_cols = data_dropped_cols.shape[1]
nan_percentage_per_row = data_dropped_cols.isna().sum(axis=1) / total_cols * 100

nan_percentage_per_row

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
         ...
153     0.000000
154     0.000000
155     0.000000
156     0.000000
157    92.307692
Length: 158, dtype: float64

In [14]:
rows_to_keep = nan_percentage_per_row <= 92
filtered_df = data_dropped_cols[rows_to_keep]
filtered_df

,Stock No,Location,Deal No,Rego,Description,Sale Date,Days in Stock,Sold to,Total Selling Price inc Extras and GST,Net Over Allowance,"Total Cost Inc Expenses, Warranty Allowance and GST",Net GST liablity,Profit
0,10364.0,Yard,20843.0,R68122,COMPASS 18'6 2005,2023-05-05,506.0,KEITH RIGBY,29825.00,0.0,25978.45,430.72,3415.83
1,10453.0,Yard,20877.0,TL20WP,HIGHCLERE CARAVANS H220-2F MD 2022,2023-07-14,517.0,Sammut Excavations Pty Ltd,76911.00,0.0,72950.45,875.37,3085.18
2,10457.0,Yard,20568.0,TL28KG,ATLANTIC ENDEAVOUR 2022,2023-02-06,353.0,Ross & Lynn Andrewartha,71503.00,0.0,57943.85,1398.73,12160.42
3,10476.0,Yard,20477.0,TL08PS,RIVER DOMINATOR 19'6 REAR DOOR 2023,2023-03-29,4.0,TODD MARTIN,95525.00,0.0,86673.56,1116.62,7734.82
4,10511.0,Yard,20503.0,TL40PS,RIVER DOMINATOR 18'4 RD 2022,2023-06-08,6.0,ALAN HAYMAN,85208.00,0.0,78273.21,714.42,6220.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,10779.0,caravancampingsales.com.au,20773.0,Z05439,NEW AGE CARAVAN 2013,2023-02-01,57.0,Robert & Robyn Papworth,53900.00,0.0,38647.45,1449.55,13803.00
153,10782.0,caravancampingsales.com.au,20772.0,TD74ZQ,ATLANTIC ENDEAVOUR 2017,2023-01-23,41.0,IAN HUBNER,58900.00,0.0,53067.05,627.28,5205.67
154,10789.0,caravancampingsales.com.au,20778.0,TR49LQ,JAYCO STARCRAFT 2017,2023-02-06,47.0,RUI SOUSA,42844.68,0.0,30716.80,1167.70,10960.18
155,10795.0,caravancampingsales.com.au,20789.0,TR12SL,JAYCO JOURNEY JOURNEY 2018,2023-05-15,110.0,Frank Baulch,47900.00,-3000.0,40679.90,716.69,9503.41
156,10842.0,caravancampingsales.com.au,20852.0,TR76SM,EZYTRAIL CAMPERS PARKES 15 2019,2023-06-19,63.0,KISHA & WAYNE ARMSTRONG,45616.00,0.0,41396.70,509.94,3709.36